html {
    font-size: 10px;
    background: url('./bg1.jpg') no-repeat top center/cover;
  }
  
body,html {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
}
  
.key {
    border: 3px solid white;
    border-radius: 2.5rem;
    margin: 1.5rem;
    font-size: 1.8rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: black;
}

.keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
  
  
.drumming {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
  
kbd {
    display: block;
    font-size: 4rem;
}
  
.sound {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .14rem;
    color: #ff11cc;
}